[submodule "pkgs/awesome-beamer"]
	path = pkgs/awesome-beamer
	url = https://github.com/LukasPietzschmann/awesome-beamer.git
[submodule "pkgs/smile"]
	path = pkgs/smile
	url = https://github.com/LukasPietzschmann/smile.git
